/*
###############################
RESET
###############################
*/
@import "hover.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
###############################
END -- RESET
###############################
*/
/*
#####################################################
FOOTER STYLES
#####################################################
*/
#footer {
  /*
  background: #200122;  
  background: -webkit-linear-gradient(to right, #26060b, #d9bc86);  
  background: linear-gradient(to right, #26060b, #d9bc86);
  */
  padding: 10px;
}
#footer .footerTextContent {
  text-align: center;
  align-content: center;
}
#footer .footerTextContent a {
  text-decoration: none;
  font-style: none;
}

/*
#####################################################
END --  FOOTER STYLES
#####################################################
*/
/*
###############################
RESET
###############################
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
###############################
END -- RESET
###############################
*/
/*
#####################################################
HEADER STYLES
#####################################################
*/
/*
background-color: #26060b;
color: #d9bc86;
*/
#header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7254901961);
}
#header .header-headerLogo {
  margin-left: 50px;
  width: 100px;
  height: auto;
}
#header #navbarNav {
  margin-right: 50px;
  display: flex;
  align-items: right;
  font-size: 18px;
}
#header .navbar-nav a {
  color: #26060b;
}

/*
#####################################################
END --  HEADER STYLES
#####################################################
*/
@media (min-width: 1960px) {
  #main .carousel {
    display: flex;
    width: 1960px;
    margin: 0 auto;
    min-height: none;
  }
  #main .main--botNewsframe {
    width: 1960px;
    height: 50vh;
  }
  #main .main--top {
    background-color: rgb(217, 188, 134);
  }
  #mainFilosofia .mainFilosofia--Top {
    background-color: rgb(217, 188, 134);
  }
  #mainFilosofia .mainFilosofia--Top .mainFilosofia--TopImg {
    width: 1960px;
    margin: 0 auto;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  #header {
    position: relative;
    text-size-adjust: 10px;
    width: 100vw;
    font-size: 10px;
  }
  #header img {
    width: 100%;
    height: auto;
  }
  #footer {
    font-size: 10px;
  }
  #footer text-md-start {
    font-size: 10px;
  }
  #main .main--noticias {
    width: 100%;
    height: auto;
  }
  #mainFilosofia .mainFilosofia--Bot .misionyvision .content2 {
    font-size: 10px;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 1200px) and (max-width: 480px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
  }
  #header .header-headerLogo {
    width: 50px;
    height: auto;
  }
  #header #navbarNav {
    display: flex;
    align-items: right;
    font-size: 10px;
  }
  #header .navbar-nav a {
    color: #26060b;
  }
  #header .nav-item {
    font-size: 8px;
  }
}
/*
#####################################################
MAIN STYLES
#####################################################
*/
#main {
  min-height: 100vh;
}
#main .main-topImage {
  margin: 0;
  padding: 0;
}
#main .main--bot {
  height: auto;
  position: relative;
}
#main .main--bot .wave1 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}
#main .main--bot .main--bot1 {
  padding: 50px;
  background-color: white;
  width: 100%;
  height: 200px;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
}
#main .main--bot .main--bot2 {
  width: 100%;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26060b, #d9bc86); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26060b, #d9bc86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main .main--bot .main--bot2 .main--noticias {
  width: 50vw;
  height: 800px;
  padding: 50px;
  border-radius: 20px;
  margin: 50px auto;
  position: relative;
  left: 25%;
  margin-top: 200px;
  margin-bottom: 200px;
}
#main .main--bot .wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*
#####################################################
END -- MAIN STYLES
#####################################################
  */
#mainFilosofia .mainFilosofia--Top .mainFilosofia--TopImg img {
  width: 100%;
}
#mainFilosofia .mainFilosofia--Top .mainFilosofia--TopText {
  background-color: white;
  width: 100%;
  height: auto;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin-left: 50px;
  margin-top: 50px;
  color: rgb(217, 188, 134);
}
#mainFilosofia .mainFilosofia--Bot {
  position: relative;
  height: auto;
  background-color: rgb(38, 6, 11);
  color: rgb(217, 188, 134);
  padding: 40px;
}
#mainFilosofia .mainFilosofia--Bot .wave1Filosofia1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#mainFilosofia .mainFilosofia--Bot .waveFilosofia2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#mainFilosofia .mainFilosofia--Bot .misionyvision {
  margin-top: 100px;
}
#mainFilosofia .mainFilosofia--Bot .misionyvision .title1 {
  font-size: 40px;
  margin-bottom: 20px;
}
#mainFilosofia .mainFilosofia--Bot .misionyvision .content1 {
  padding: 40px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 10px;
}
#mainFilosofia .mainFilosofia--Bot .misionyvision .title2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#mainFilosofia .mainFilosofia--Bot .misionyvision .content2 {
  padding: 50px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 100px;
}

#mainAbogados {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26060b, #d9bc86); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26060b, #d9bc86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mainAbogados .mainAbogados--Top .kenburns-top-left {
  -webkit-animation: kenburns-top-left 5s ease-out both;
  animation: kenburns-top-left 5s ease-out both;
}
#mainAbogados .mainAbogados--Top img {
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.7254901961);
  width: 100%;
  height: auto;
}
#mainAbogados .mainAbogados--Bot {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26060b, #d9bc86); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26060b, #d9bc86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  padding: 50px;
}
#mainAbogados .mainAbogados--Bot .card {
  width: 100%;
}
#mainAbogados .mainAbogados--Bot .card:hover {
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.7254901961);
  transition: 1s;
}
#mainAbogados .mainAbogados--Bot .card img {
  width: 100%;
  height: 80%;
}
#mainAbogados .mainAbogados--Bot .card h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  text-align: center;
}

#mosaico {
  width: 100%;
  margin: 0 auto;
  line-height: 0;
  position: relative;
}
#mosaico img {
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7254901961);
}
#mosaico article {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  mix-blend-mode: lighten;
}
#mosaico div {
  background: black;
  height: 24.65vw;
}
#mosaico div:nth-of-type(2) {
  grid-column: 2/4;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-20 23:26:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
#mainAreas {
  width: 100%;
}
#mainAreas .mainAreas-texto {
  width: 100%;
  height: 100vh;
  background: url("../image/diosa+logo.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 50vh;
}
#mainAreas .mainAreas-texto .mainAreas-textoH2 {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 20px;
  height: auto;
  margin: auto;
  text-align: center;
}
#mainAreas .mainAreas-Areas {
  background-color: white;
  height: auto;
  margin-top: 50px;
}
#mainAreas .mainAreas-Areas h2 {
  text-align: center;
}
#mainAreas .mainAreas-Areas p {
  padding: 60px 40px;
  text-align: center;
}
#mainAreas .mainAreas-texto2 {
  width: 100%;
  height: 100vh;
  background: url("../image/diosa+logo.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 50vh;
}
#mainAreas .mainAreas-texto2 .mainAreas-ul {
  background-color: white;
}
#mainAreas .mainAreas-collapse {
  padding-top: 50px;
  padding-bottom: 50px;
}
#mainAreas .mainAreas-collapse .btn {
  border-bottom: 1px;
  border-style: dashed;
  border-color: #d9bc86;
  font-style: oblique;
  font-size: 20px;
  color: black;
  width: 100%;
  margin: auto;
}
#mainAreas .mainAreas-collapse .card {
  color: gray;
  text-align: center;
}

#mainContacto .mainContacto-top {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  gap: 10px;
  padding-bottom: 70px;
}
#mainContacto .mainContacto-top .form {
  align-content: end;
}
#mainContacto .mainContacto-top .form .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 50px auto;
}
#mainContacto .mainContacto-top .form .contact-form input[type=text],
#mainContacto .mainContacto-top .form .contact-form input[type=email],
#mainContacto .mainContacto-top .form .contact-form input[type=tel],
#mainContacto .mainContacto-top .form .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#mainContacto .mainContacto-top .form .contact-form input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #d9bc86;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#mainContacto .mainContacto-top .form .contact-form input[type=submit]:hover {
  background-color: #45a049;
}
#mainContacto .mainContacto-top .formImg {
  background-image: url("../image/Sillas+logo.png");
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}
#mainContacto .mainContacto-bot {
  position: relative;
  height: 100vh;
  padding-bottom: 40%;
  font-family: Arial, sans-serif;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26060b, #d9bc86); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #26060b, #d9bc86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mainContacto .mainContacto-bot .location-section {
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: auto;
  padding-bottom: 66.25%; /* 16:9 Aspect Ratio */
}
#mainContacto .mainContacto-bot .location-section iframe {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 70vh;
  border: none;
}
#mainContacto .mainContacto-bot .wave1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#mainContacto .mainContacto-bot .wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
