@media (min-width:1960px) {
    #main{
        .carousel{
            display: flex;
            width: 1960px;
            margin: 0 auto;
            min-height: none;
                }
        .main--botNewsframe{
            width: 1960px;
            height: 50vh;
                }
        .main--top{
            background-color: rgba(217, 188, 134, 1);
                }
    }

    #mainFilosofia{
        .mainFilosofia--Top{
            background-color: rgba(217, 188, 134, 1);
            .mainFilosofia--TopImg{
                width: 1960px;
                margin: 0 auto;
            }
        }
    }
}

@media (min-width:481px) and (max-width:1200px){
    #header{
        img{
            width: 100%;
            height: auto;
        }
        position: relative;
        text-size-adjust: 10px;
        width: 100vw;
        font-size: 10px;
    }
    #footer{
        text-md-start {
            font-size: 10px;
        }
        font-size: 10px;
    }

    #main{
        .main--noticias{
            width: 100%;
            height: auto;
        }
    }
    
    #mainFilosofia{
        .mainFilosofia--Bot{
            h1{
                font-size: 12px;
            }
            p{
                font-size: 10px;
            }
        }
    }
    

    #mainAbogados{
        section{
            div{
                h1{
                font-size: 10px;
                }
                } 
            }
        }  
        
    #mainFilosofia{
        h1{
            font-size: 20px ;
        }
        h2{
            font-size: 15px;
        }
        p{
            font-size: 10px;
            text-align: center;
        }
                }
    }

