@media (min-width:1960px) {
    #main{
        .carousel{
            display: flex;
            width: 1960px;
            margin: 0 auto;
            min-height: none;
                }
        .main--botNewsframe{
            width: 1960px;
            height: 50vh;
                }
        .main--top{
            background-color: rgba(217, 188, 134, 1);
                }
    }

    #mainFilosofia{
        .mainFilosofia--Top{
            background-color: rgba(217, 188, 134, 1);
            .mainFilosofia--TopImg{
                width: 1960px;
                margin: 0 auto;
            }
        }
    }
}

@media (min-width:481px) and (max-width:1200px){
    #header{
        img{
            width: 100%;
            height: auto;
        }
        position: relative;
        text-size-adjust: 10px;
        width: 100vw;
        font-size: 10px;
    }
    #footer{
        text-md-start {
            font-size: 10px;
        }
        font-size: 10px;
    }

    #main{
        .main--noticias{
            width: 100%;
            height: auto;
        }
    }
    
    #mainFilosofia{
        .mainFilosofia--Bot{
            .misionyvision{
                .content2{
                    font-size: 10px;
                    text-align: center;
                }
            }
            
        }
    }
    

@media screen and (max-width:480px) {
    #header {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        .header-headerLogo {
            width: 50px;
            height: auto;
        }
        #navbarNav{
            display: flex;
            align-items: right;
            font-size: 10px;
            }
            .navbar-nav a{
                color: #26060b;
            }
            .nav-item{
                font-size: 8px;
            }
            
        }
    #mainContacto{
        .mainContacto-top {
            flex-direction: column;
        }
        .form{
            .formImg {
                width: 100%;
            }    
        }
        
        /* Estilos adicionales para adaptar el formulario en pantallas pequeñas */
        .contact-form {
            max-width: 100%;
            padding: 20px;
        }
    
        .formImg {
            height: 200px; /* Ajusta la altura según tus necesidades */
        }
    }
    }

}