@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


#mainContacto{
    background: #200122;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #26060b, #d9bc86);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #26060b, #d9bc86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .mainContacto-top{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100vh;
        gap: 10px;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        
    }
    .mainContacto-bot{
        position: relative;
        height: 100vh;
        padding-bottom: 40%;
        font-family: Arial, sans-serif;
        background: #200122;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #26060b, #d9bc86);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #26060b, #d9bc86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .location-section {
            margin: 0 auto;
            position: relative;
            width: 60%;
            height: auto;
            padding-bottom: 66.25%; /* 16:9 Aspect Ratio */
            .tituloUbicaion{
                color: #d9bc86;
                font-family: 'Quicksand', sans-serif;
                font-family: 'Roboto', sans-serif;
                align-content: center;
                text-align: center;
                padding-top: 160px;
            }
    
        }
        .location-section iframe {
            position: absolute;
            padding-top: 80px;
            top: 150px;
            left: 0;
            width: 100%;
            height: 70vh;
            border: none;
            
        }
        .wave1{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 100px;
            }
        .wave2{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            max-height: 100px;
                    }
        .wave3{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 100px;
            }
    }
    
}
.container3 {
	background-color: #fff;
	border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	padding: 20px;
    &:hover{
        box-shadow: 20px 30px 40px #000000b9;
        transition: 0.5s;}
    h1{
        padding-top: 20px;
    }
    h2{
        padding-top: 40px;
    }
    h3{
        padding-top: 40px;
    }
	.button{
		margin-top: 30px;
		a{
			color: white;
		}
        &:hover{
            box-shadow: 20px 20px 30px #000000b9;
            transition: 0.5s;}
	}
}

button {
	border-radius: 20px;
	border: 1px solid #d9bc86;
	background-color: #d9bc86;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
