/*
#####################################################
FOOTER STYLES
#####################################################
*/

#footer{
    /*
    background: #200122;  
    background: -webkit-linear-gradient(to right, #26060b, #d9bc86);  
    background: linear-gradient(to right, #26060b, #d9bc86);
    */
    padding: 10px;
    .footerTextContent{
        text-align: center;
        align-content: center;
    }
    .footerTextContent a{
        text-decoration: none;
        font-style: none;
    }
}

/*
#####################################################
END --  FOOTER STYLES
#####################################################
*/