/*
#####################################################
HEADER STYLES
#####################################################
*/

/*
background-color: #26060b;
color: #d9bc86;
*/

#header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px #000000b9;
    .header-headerLogo {
        margin-left: 50px;
        width: 100px;
        height: auto;
    }
    #navbarNav{
        margin-right: 50px;
        display: flex;
        align-items: right;
        font-size: 18px;
    }
    .navbar-nav a{
        color: #26060b;
    }
    
}


/*
#####################################################
END --  HEADER STYLES
#####################################################
*/