/*
#####################################################
MAIN STYLES
#####################################################
*/
.main-botBtn {
    display: flex;
    padding: 15px;
    font-size: 18px;
    font-style: Roboto;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    border-color: rgb(38, 6, 11);
}

.main-botNewsframe {
    display: flex;
    width: 800px;
    height: 800px;
    padding: 50px;
    background-color: rgb(38, 6, 11);
    border-radius: 20px;
    margin: 15px auto;
}

.main-topImage {
    margin: 0;
    padding: 0;
}

/*
#####################################################
END -- MAIN STYLES
#####################################################
  */